<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1111</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="sistema/controller/OrdemServico.hbm.xml"/>
    <mapping resource="sistema/controller/Cliente.hbm.xml"/>
    <mapping resource="sistema/controller/ProdutoServico.hbm.xml"/>
    <mapping resource="sistema/controller/Usuario.hbm.xml"/>
    <mapping resource="sistema/controller/Cadastro.hbm.xml"/>
    <mapping resource="sistema/controller/Proposta.hbm.xml"/>
    <mapping resource="sistema/controller/FuncionarioTecnico.hbm.xml"/>
    <mapping resource="sistema/controller/Fornecedor.hbm.xml"/>
    <mapping resource="sistema/controller/Endereco.hbm.xml"/>
    <mapping resource="sistema/controller/PragasEncontradas.hbm.xml"/>
    <mapping resource="sistema/controller/Produto.hbm.xml"/>
    <mapping resource="sistema/controller/Telefone.hbm.xml"/>
    <mapping resource="sistema/controller/Pragas.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
